{% load staticfiles %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/mycss' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/pure-min.css' %}"/>
{% endblock extra_css %}


<!DOCTYPE html>
<html>

<head>
	<!-- Title of the page -->
	<title>
		{% block title %}
			Workflows
		{% endblock %}
	</title>
	{% block scripts %}
	{% endblock %}
</head>

<body>
	<!-- Header containing the link to the home page -->
	<div id="header">
		{% block header %}
			<a href="{% url 'workflow_list' %}"> <h2>Home</h2> </a>
		{% endblock %}
	</div>

	<!-- Subheader containing the seach bar -->
	<div id="subheader">
		{% block subheader %}
			<form method="POST" action="{% url 'base' %}">
				{% csrf_token %}
				Search Workflow
				<input type="text" name="key">
				<input type="submit" name="byName" value="by Name">
			</form>
		{% endblock %}
	</div>

	<!-- The content of the page -->
	<!-- A list of workflows and categories or a specific workflow -->
	<div id="content">
		{% block content %}
			The workflow could not be found.
		{% endblock %}
	</div>

	<!-- Footer containing our names -->
	<div id="footer">
		{% block footer %}
			Luis C&aacute;rabe & Blanca Mart&iacute;n
		{% endblock %}
	</div>
</body>
</html>
