{% extends "../data/base.html" %}

<!-- If there is a result, workflow is not null, 
		so the title is the workflow's name -->
{% if result != False %}
	{% block title %}
		{{ workflow.name }}
	{% endblock %}
{% endif %}

{% block content %}
	<div id="main">
		<h2>{{ error }}<h2> <br>
		<!-- If there is a result, the content is
		     the workflow information  -->
		{% if result != False %}
			<h2>{{workflow.name}}</h2>
			{% for cat in workflow.category.all %}
				<a href="{% url 'workflow_list_by_category' cat.slug %}">{{ cat.name }}</a><br>
			{% endfor %}
			<b>KeyWords:</b>{{workflow.keywords}}<br>
			<b>Description:</b>{{workflow.description}}
		<!-- If not, an error message is shown -->
		{% else %}
			<h2> The workflow could not be downloaded.</h2>
			Error: {{ error}}
	</div>

	{% endif %}
{% endblock %}
