{% extends "../data/base.html" %}
{% load staticfiles %}


{% block scripts %}
	
	<!-- Load webcomponents support -->
	<script src="{% static 'js/webcomponents/webcomponents-loader.js' %}">
	</script>
	<!-- Load the recaptcha support -->
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<!-- link the web component code -->
	<link rel="import" href="{% static 'scipion-workflow.html' %}">

{% endblock %}

<!-- If there is a result, workflow is not null, 
		so the title is the workflow's name -->
{% if result != False %}
	{% block title %}
		{{ workflow.name }}
	{% endblock %}
{% endif %}

<!-- Main body -->
{% block content %}
	<div id="main">
		<h2>{{ error }}</h2> <br>
		<span class="row">
			<!-- If there is a result, the content is
			     the workflow information  -->
			{% if result != False %}

				<div id="info">
					<!-- Workflow name -->
					<h2>{{workflow.name}}</h2>
					<!-- Workflow categories -->
					{% for cat in workflow.category.all %}
						<a href="{% url 'workflow_list_by_category' cat.slug %}">{{ cat.name }}</a><br>
					{% endfor %}
					<!-- Workflow keywords -->
					<b>KeyWords:</b>{{workflow.keywords}}<br>
					<!-- Workflow description -->
					<b>Description:</b>{{workflow.description}}

					<!-- Form for the download of the workflow -->
					<form action="{% url 'workflow_download' workflow.id workflow.slug %}" method="post">
						{% csrf_token %}
						<!-- recaptcha -->
				    <div class="g-recaptcha" data-sitekey="{{key}}"></div>
				    <!-- button -->
						<input type="submit" name="submit" value="Download">
					</form>
				</div>
				<!-- Division with the workflow's json -->
				<div id="scipion">
					<scipion-workflow src="{% url 'workflow_download_json' workflow.id workflow.slug %}" height="400px" width="400px"/>
				</div>
			<!-- If there was no result, an error message is shown -->
			{% else %}
				<h2>The workflow could not be found.</h2>
		</span>
	</div>
	{% endif %}
{% endblock %}
